<div class="row">
	<div class="twelve columns">
	  <p>Parking is available 
	  	from <span class="quote-start"><%= @start_date.to_time.utc.strftime("%Y-%m-%d %I:%M%p")%></span> to <span class="quote-end"><%= @end_date.to_time.utc.strftime("%Y-%m-%d %I:%M%p")%></span> 
	  	starting from <strong><%=number_to_currency(@available_locations.minimum(:price_per_hour, :unit => "$") * @hours)%><span class="quote-amount"></span></strong>.
	  </p>
	</div>
</div>

<% @available_locations.each do |location| %>
	<div class="row">
		<div class="nine columns">
		  <p><%= location.seller_name %>, <strong><%= "#{location.address}, #{location.city}" %></strong> is available for <strong><%=number_to_currency(location.price_per_hour * @hours, :unit => "$")%><span class="quote-amount"></span></strong>.</p>
		</div>

		<div class="three columns">
			<%= button_to "Book now", bookings_path({ booking: {listing_id: location, time_start: @start_date, time_end: @end_date }}), class: "button-primary", remote: true, method: :post %>
		</div>
	</div>
<% end %>