<div class="row">
	<div class="twelve columns">
	   <p>
	   	Parking is not available 
	   	from <span class="quote-start"><%= @start_date.to_time.utc.strftime("%Y-%m-%d %I:%M%p")%></span> to <span class="quote-end"><%= @end_date.to_time.utc.strftime("%Y-%m-%d %I:%M%p")%></span>.
	   </p>
	</div>
</div>