<div class="container">

  <%= form_tag('/check_availability', remote: true) do %>
    <div class="row">
      <div class="twelve columns">
        <h1>Book parking</h1>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        Start time:
        <select name="start-time" id="start-time">
          <option value="00:00">12:00am</option>
          <option value="01:00">01:00am</option>
          <option value="02:00">02:00am</option>
          <option value="03:00">03:00am</option>
          <option value="04:00">04:00am</option>
          <option value="05:00">05:00am</option>
          <option value="06:00">06:00am</option>
          <option value="07:00">07:00am</option>
          <option value="08:00">08:00am</option>
          <option value="09:00">09:00am</option>
          <option value="10:00">10:00am</option>
          <option value="11:00">11:00am</option>
          <option value="12:00">12:00pm</option>
          <option value="13:00">01:00pm</option>
          <option value="14:00">02:00pm</option>
          <option value="15:00">03:00pm</option>
          <option value="16:00">04:00pm</option>
          <option value="17:00">05:00pm</option>
          <option value="18:00">06:00pm</option>
          <option value="19:00">07:00pm</option>
          <option value="20:00">08:00pm</option>
          <option value="21:00">09:00pm</option>
          <option value="22:00">10:00pm</option>
          <option value="23:00">11:00pm</option>
        </select>
        <input type="text" name="start-date" id="start-date" class="date">
      </div>
      <div class="six columns">
        End time:
        <select name="end-time" id="end-time">
          <option value="00:00">12:00am</option>
          <option value="01:00" selected>01:00am</option>
          <option value="02:00">02:00am</option>
          <option value="03:00">03:00am</option>
          <option value="04:00">04:00am</option>
          <option value="05:00">05:00am</option>
          <option value="06:00">06:00am</option>
          <option value="07:00">07:00am</option>
          <option value="08:00">08:00am</option>
          <option value="09:00">09:00am</option>
          <option value="10:00">10:00am</option>
          <option value="11:00">11:00am</option>
          <option value="12:00">12:00pm</option>
          <option value="13:00">01:00pm</option>
          <option value="14:00">02:00pm</option>
          <option value="15:00">03:00pm</option>
          <option value="16:00">04:00pm</option>
          <option value="17:00">05:00pm</option>
          <option value="18:00">06:00pm</option>
          <option value="19:00">07:00pm</option>
          <option value="20:00">08:00pm</option>
          <option value="21:00">09:00pm</option>
          <option value="22:00">10:00pm</option>
          <option value="23:00">11:00pm</option>
        </select>
        <input type="text" name="end-date" id="end-date" class="date">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        City: <%= select_tag "city", options_from_collection_for_select(@cities, :city, :city), prompt: "Select a City" %>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= submit_tag 'Check Availability' %>
      </div>
    </div>
  <% end %>

  <div class="row" id="availability-result"></div>

</div>
