<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book parking</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <%= favicon_link_tag 'favicon.png'%>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'skeleton' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js' %>
</body>
</html>